
<style>
    #map {
        width: 100%;
        height: 600px;
        
    }
</style>

<h1>Welcome to Coffee and Books Web! 🚀</h1>
<p class="display-2">Hello Ironhacker!</p>

<a href="/places" class="btn btn-primary"> Places </a>
<br>
<a href="/places/new-places" class="btn btn-primary">Create a New Place</a>

<div id="map"></div>
